@keyframes openLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes openRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes removeMidLine {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.container {
  position: fixed;
  top: var(--top-Layout-comp-height);
  left: var(--side-bars-layout-width);
  right: var(--side-bars-layout-width);
  height: calc(100vh - var(--top-Layout-comp-height));
  width: calc(100vw - (2 * var(--side-bars-layout-width)));
  z-index: 2;
}
.wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  border-top: 5vw solid #6e6e6e;
  border-left: 5vw solid #9a9a9a;
  border-right: 5vw solid #9a9a9a;
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
}
.wrapper.noBorder {
  border-width: 0;
}
.leftDoor,
.rightDoor {
  width: 48.5%;
  height: 100%;
  background-color: #a8a5a0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.leftDoor {
  border-left: 1px solid black;
}
.rightDoor {
  border-right: 1px solid black;
}
.midBlackLine {
  width: 3%;
  background-color: black;
  border-right: 2px solid #dfdfdd;
  border-left: 2px solid #dfdfdd;
}
.midBlackLine.removeMidBlackLine {
  animation: removeMidLine 0.1s forwards;
}
.leftDoor.openDoor {
  animation: openLeft 1.5s forwards;
}
.rightDoor.openDoor {
  animation: openRight 1.5s forwards;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .leftDoor,
  .rightDoor {
    width: 49%;
    height: 100%;

    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  .midBlackLine {
    width: 2%;

    border-right: 0.4vw solid #dfdfdd;
    border-left: 0.4vw solid #dfdfdd;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
  .wrapper {
    border-top: 4vw solid #6e6e6e;
    border-left: 4vw solid #9a9a9a;
    border-right: 4vw solid #9a9a9a;
  }
  .leftDoor,
  .rightDoor {
    width: 49.2%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  .midBlackLine {
    width: calc(100% - (2 * 49.2%));
    border-right: 0.4vw solid #dfdfdd;
    border-left: 0.4vw solid #dfdfdd;
  }
}
