.container {
  width: 100%;
}
.mainContentContainer {
  position: relative;
  padding: 10vw 0;
}
.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: difference;
  position: absolute;
  object-position: top;
  top: -7%;
  left: 0;
}
.mcard {
  width: 100%;
  display: flex;
  margin-bottom: 6vw;
  position: relative;
  z-index: 2;
}
.vcard {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  z-index: 3;
}
.mcardWrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0rem 2vw 2vw 0rem;
  background: #282828;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.12);
  padding: 3.5vw;
  gap: 4vw;
}
.vcardWrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vw 0 0 2vw;
  background: #282828;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.12);
  padding: 3.5vw;
  gap: 4vw;
}
.content {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1.5vw;
}
.cardImage {
  width: 14vw;
  opacity: 0.2;
}
.missionnameContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardName {
  color: #c45f5f;
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .mcardWrapper,
  .vcardWrapper {
    width: 70%;
    padding: 4vw;
    gap: 4vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .mainContentContainer {
    padding: 8vw 0;
  }
  .content {
    font-size: 1.3vw;
  }
  .mcardWrapper,
  .vcardWrapper {
    width: 63%;
    padding: 4vw;
    gap: 4vw;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
